.dark-mode {
  .ziegelwand {
    filter: brightness(50%);
  }
  .polaroid {
    background-color: lightgrey;
  }
  .all-ingredients-container {
    a {
      background-color: rgba(212, 196, 20, 0.817);
      box-shadow: 0 0 2px black;
    }
  }
}
.light-mode {
}
