.all-ingredients-container {
  width: 500px;
  height: 300px;
  position: absolute;
  bottom: 100px;
  left: 50%;
  overflow: auto;
  scroll-behavior: auto;
  background: tomato;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  a {
    text-decoration: none;
    background-color: teal;
    margin: 5px;
  }
}
