* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}

:root {
  background-image: url("/Ziegelwannhintergund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  background-image: url("/Ziegelwannhintergund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}