* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
.ziegelwand {
  background-image: url("/Ziegelwannhintergund.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
